.App {
  text-align: center;
  font-family: sans-serif;
  width: 800px;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: aliceblue;
  height: 100vh;
  box-sizing: border-box;
  font-size: 18px;
}

/* 不会用h1等html tag来命名 className。 要meaningful。这里可以个appHeader。这样一下就知道大概什么位置，干什么的 */
.h1{ 
  margin: 40px 0;
  font-weight: 600;
}