.App {
  text-align: center;
  font-family: sans-serif;
  width: 800px;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: aliceblue;
  height: 100vh;
  box-sizing: border-box;
  font-size: 18px;
}

.appHeader{
  margin: 40px 0;
  font-weight: 600;
}